.overlay {
    position:relative;
    width:100%;
    height:100%;

    > * {
        position:absolute;
        width:100%;
        height:100%;
    }

    .overlay__background {
        z-index:1;

        background-color:$black;
        opacity:0.5;
    }

    .overlay__foreground {
        z-index:2
    }
}