html,
body {
    height:100%;
}

.puzzle {
    height:100%;

    .puzzle__header {
        position:relative;
        height:80px;
        padding:10px;

        .puzzle__header__logo {
            float:left;
            margin-right:20px;
        }

        .puzzle__header__audio {
            float:left;
            line-height:16px;
            padding-top:34px;
        }

        .puzzle__header__preview {
            position:absolute;
            top:10px;
            right:10px;

            img {
                border:1px solid $black;
                border-radius:2px;
            }
        }
    }

    .puzzle__canvas {
        position:relative;
        height:calc(100% - 80px);
        background-color:$black;
        @include cursor('Arrow');

        canvas {
            position: absolute;
            @include cursor('Hand');
        }

        &.is-dragging {
            @include cursor('NO');

            canvas {
                @include cursor('SizeAll_Down');
            }
        }
    }

    .puzzle__overlay {
        position:absolute;
        right:0;
        bottom:0;
        left:0;
        height:62px;
        font-size:0;
        text-align:center;

        .button {
            margin:10px;
        }
    }
}