.thumbnails {
    list-style:none;
    font-size:0;

    li {
        display:inline-block;
        margin:5px;

        a {
            display:block;

            img {
                display:block;
                border-radius:2px;
            }
        }
    }
}