<div class="h-text-center l-pt-15 l-pb-10">
    <div class="l-mb-10">
        <logo></logo>
    </div>

    <button class="button button--small l-mb-20" ng-click="randomPuzzle()">Play a random puzzle</button>

    <p class="l-mb-15">HDpuzzles has changed, <a href="#/comments">feedback is very welcome</a>.</p>

    <ul class="thumbnails">
        <li ng-repeat="puzzle in puzzles">
            <a ng-href="#/puzzles/{{puzzle.id}}">
                <thumbnail image-src="{{puzzle.filename}}"></thumbnail>
            </a>
        </li>
    </ul>
</div>
