<div class="puzzle" ng-keydown="togglePreview();">
    <div class="puzzle__header">
        <div class="logo"><a ng-href="#/">HDpuzzles<span class="logo__dot-com">.com</span></a></div>

        <div ng-show="state === 'PLAYING'" class="preview">
            <img width="120" height="60" ng-src="images/thumbnails/{{image}}" alt="Preview" ng-mouseover="showPreview = true;" ng-mouseleave="showPreview = false;">
        </div>
    </div>

    <hdpuzzles-canvas ng-if="state !== 'LOADING'" image="images/{{image}}" difficulty="{{difficulty}}" state="{{state}}" show-preview="showPreview"></hdpuzzles-canvas>

    <div ng-if="state === 'NEW'" class="puzzle__overlay" overlay>
        <button ng-click="newGame('DEBUG')">Debug</button>
        <button ng-click="newGame('EASY')">Easy (24 pieces)</button>
        <button ng-click="newGame('MEDIUM')">Medium (54 pieces)</button>
        <button ng-click="newGame('HARD')">Hard (96 pieces)</button>
    </div>


    <div ng-if="state === 'PUZZLE_COMPLETE'" class="puzzle__overlay" overlay>
        Number of moves {{statistics.numberOfMoves}}<br>
        Time played {{statistics.numberOfSeconds | minutesFormatter}}
    </div>
</div>

