<div class="puzzle" ng-keydown="togglePreview();">
    <div class="puzzle__header">
        <div class="puzzle__header__logo">
            <logo use-link="true"></logo>
        </div>
        <div class="puzzle__header__audio">
            <audio-settings></audio-settings>
        </div>

        <div ng-show="state === 'PLAYING'" class="puzzle__header__preview">
            <img width="120" height="60" ng-src="{{thumbnail}}" alt="Preview" ng-click="togglePreview();">
        </div>
    </div>

    <hdpuzzles-canvas ng-if="state !== 'LOADING'" image="{{image}}" difficulty="{{difficulty}}" state="{{state}}" show-preview="showPreview"></hdpuzzles-canvas>

    <div ng-if="state === 'NEW'" class="puzzle__overlay" overlay>
        <button class="button" ng-click="newGame('SMALL')">Small</button>
        <button class="button" ng-click="newGame('MEDIUM')">Medium</button>
        <button class="button" ng-click="newGame('LARGE')">Large</button>
        <button class="button" ng-click="newGame('HUGE')">Huge</button>
    </div>


    <div ng-if="state === 'PUZZLE_COMPLETE'" class="puzzle__overlay" overlay>
        Number of moves {{statistics.numberOfMoves}}<br>
        Time played {{statistics.numberOfSeconds | minutesFormatter}}
    </div>
</div>

