<div class="puzzle">
    <div class="puzzle__header">
        <div class="logo"><a href="">HDpuzzles<span class="logo__dot-com">.com</span></a></div>

        <div class="preview">
            <img width="120" height="60" ng-src="images/thumbnails/{{image}}" alt="">
        </div>
    </div>
    {{state}}
    <hdpuzzles-canvas image="images/{{image}}" difficulty="{{difficulty}}" state="{{state}}" show-preview="showPreview"></hdpuzzles-canvas>

    <div ng-if="state === 'NEW'" class="puzzle__overlay" overlay>
        <button ng-click="newGame('DEBUG')">Debug</button>
        <button ng-click="newGame('EASY')">Easy (24 pieces)</button>
        <button ng-click="newGame('MEDIUM')">Medium (54 pieces)</button>
        <button ng-click="newGame('HARD')">Hard (96 pieces)</button>
    </div>
</div>

